<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  test

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!--startjs-->
    {% include js-custom.html %}
    <!--endjs-->
  </body>

</html>
